@use "presets" as *;
@use "mixins" as *;

.main {
  margin-bottom: $gap-xl;
  .site-search {
    margin-bottom: $gap * 3;
  }
  .user-login {
    margin-bottom: $gap * 4;
  }
}

.new-films {
  font-family: $font-main;
  position: relative;
  overflow: hidden;

  &-title {
    font-family: $font-header;
    font-size: 3rem;
    margin: -10px 0 1em;

    &::after {
      position: absolute;
      width: 100%;
      margin: 0.85em 0 0 $gap;
      content: "";
      border-bottom: 3px solid $color-accent-light;
    }
  }
  &-row {
    margin-right: -$gap-sm;
    margin-bottom: -$gap;
    margin-left: -$gap-sm;
  }

  &-item {
    margin-bottom: $gap;
    padding-right: $gap-sm;
    padding-left: $gap-sm;

    &__thumbnail {
      margin-bottom: 0;
    }

    &__image {
      width: 100%;
    }

    &__caption {
      text-align: center;
    }
    &__title {
      @include text-shortener;
      display: block;
      font-size: $font-size;
      overflow: hidden;
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: bold;
      line-height: 1.1;
    }
  }
}
